<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314344178588-nibdg67lpclhuh71gpl7lvfria42ed0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314344178588-nibdg67lpclhuh71gpl7lvfria42ed0g</string>
	<key>API_KEY</key>
	<string>AIzaSyD1zeC8X8QCElhPB4wxJBNUKoYRARyBWR8</string>
	<key>GCM_SENDER_ID</key>
	<string>314344178588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiennguyen.Smart-Photo-Kit</string>
	<key>PROJECT_ID</key>
	<string>smart-photo-kit</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-photo-kit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314344178588:ios:fa03aad35fcf03f1a0fe59</string>
</dict>
</plist>